html { line-height: 1.5; -webkit-text-size-adjust: 100%; }
body, h1, h2, h3, p, dl, dd, ul { margin: 0; }
button, input, optgroup, select, textarea { margin: 0; font-family: inherit; font-size: 100%; line-height: inherit; }
button { text-transform: none; }
button, [type="button"], [type="reset"], [type="submit"] { appearance: button; }
img, svg { display: block; }
a { color: inherit; }
